$blue: #4dd2d2;
$dark-blue: #002b50;
$background-box: #f0f1ef;
$background: #f3f3f3 ;
$dark-text: #092432;
$gray-text: #707070;
$white : #ffffff;
$background-gradient: linear-gradient(90deg, rgba(77,210,210,1) 0%, rgba(0,43,80,1) 100%);
