.content {
  position: relative;
  margin: 0 auto;
  padding: 0 0.5em;
}

@media screen and (min-width: 120em) {
  .content {
    width: 116em;
  }
}

@media screen and (max-width: 48em)	{
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 120em) and (min-width: 48em) {
  .content {
    width: calc(100% - 10em);
  }
}

*, *:after, *:before {
  box-sizing: border-box;
}